<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,404}</string>
                <key>spriteSourceSize</key>
                <string>{512,404}</string>
                <key>textureRect</key>
                <string>{{0,0},{512,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,404}</string>
                <key>spriteSourceSize</key>
                <string>{512,404}</string>
                <key>textureRect</key>
                <string>{{0,404},{512,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,404}</string>
                <key>spriteSourceSize</key>
                <string>{512,404}</string>
                <key>textureRect</key>
                <string>{{0,808},{512,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,404}</string>
                <key>spriteSourceSize</key>
                <string>{512,404}</string>
                <key>textureRect</key>
                <string>{{0,1212},{512,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,404}</string>
                <key>spriteSourceSize</key>
                <string>{512,404}</string>
                <key>textureRect</key>
                <string>{{0,1616},{512,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>flying.png</string>
            <key>size</key>
            <string>{512,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a04bd0b892f3efe1482a8a3de27f3635:79258cb64e82b1100048814d66cb307a:4cb48a926bcfcf9e55bef460c851995e$</string>
            <key>textureFileName</key>
            <string>flying.png</string>
        </dict>
    </dict>
</plist>
