<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,40}</string>
                <key>spriteSourceSize</key>
                <string>{65,40}</string>
                <key>textureRect</key>
                <string>{{0,0},{65,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,40}</string>
                <key>spriteSourceSize</key>
                <string>{65,40}</string>
                <key>textureRect</key>
                <string>{{65,0},{65,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,40}</string>
                <key>spriteSourceSize</key>
                <string>{65,40}</string>
                <key>textureRect</key>
                <string>{{130,0},{65,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,40}</string>
                <key>spriteSourceSize</key>
                <string>{65,40}</string>
                <key>textureRect</key>
                <string>{{0,40},{65,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,40}</string>
                <key>spriteSourceSize</key>
                <string>{65,40}</string>
                <key>textureRect</key>
                <string>{{65,40},{65,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,40}</string>
                <key>spriteSourceSize</key>
                <string>{65,40}</string>
                <key>textureRect</key>
                <string>{{130,40},{65,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,40}</string>
                <key>spriteSourceSize</key>
                <string>{65,40}</string>
                <key>textureRect</key>
                <string>{{0,80},{65,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,40}</string>
                <key>spriteSourceSize</key>
                <string>{65,40}</string>
                <key>textureRect</key>
                <string>{{65,80},{65,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{195,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65224b71cf3dcef77ce9886205462d98:56371d745afd39df3d021f05da761040:2afb0b8dfa048ea2bbd02e313d2c7964$</string>
            <key>textureFileName</key>
            <string>bullet.png</string>
        </dict>
    </dict>
</plist>
