<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,430}</string>
                <key>spriteSourceSize</key>
                <string>{512,430}</string>
                <key>textureRect</key>
                <string>{{0,0},{512,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,430}</string>
                <key>spriteSourceSize</key>
                <string>{512,430}</string>
                <key>textureRect</key>
                <string>{{512,0},{512,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hit-plist.png</string>
            <key>size</key>
            <string>{1024,430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7e5ef98880fe712722ad2592024ec68:0651e99afca897954b444c9859859e8d:7defc81914994a3a7f27fc071fd1db13$</string>
            <key>textureFileName</key>
            <string>hit-plist.png</string>
        </dict>
    </dict>
</plist>
